@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400|Merienda');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: Raleway;
  font-size: 16px;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: darkorange;
}

/* ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^
 * Navigation
 * ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^ */

nav {
  position: fixed;
  width: 100%;
  text-align: right;
  padding: 1em 2em 5em;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.7) 25%,
    rgba(0, 0, 0, 0) 100%
  );
}
nav .item,
nav .item-selected {
  color: white;
  font-size: 1.2em;
  font-weight: 200;
}
nav .item-selected {
  border-bottom: 2px solid white;
  pointer-events: none;
}
nav ul {
  list-style: none;
  padding: 0;
}
nav li {
  display: inline-block;
  margin: 0 0.5em;
}

/* ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^
 * Header
 * ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^ */

header {
  height: 100vh;
  background-size: cover;
  background-position: center;
}

/* ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^
 * Content
 * ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^ */

#content {
  max-width: 800px;
  align-self: center;
}
#gallery-list {
  list-style: none;
  padding: 0;
}
#gallery-list li {
  margin: 3em 2em;
}
#gallery-list img {
  width: 100px;
  height: 100px;
  float: left;
  margin: 0 2em 1em 0;
  border-radius: 8px;
}
#gallery-list .title {
  font-family: Merienda;
  font-size: 2em;
  line-height: 1.2;
}
