<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>{{ site.title }}</title>
  <link href="{{ site.baseurl }}/assets/styles.css" rel="stylesheet" />
  <link rel="icon" href="{{ site.baseurl }}/favicon.ico">
</head>

<body>
  <nav id="navigation">
    <ul>
      {% assign pages = site.pages | sort: "position" %}
      {% for p in pages %}
        {% if p.title %}
          {% if page.url == p.permalink %}
          <li class="item-selected">
            {{ p.title }}
          </li>
          {% else %}
          <li>
            <a class="item" href="{{ site.baseurl }}{{ p.permalink }}">{{ p.title }}</a>
          </li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
  <script>
    var nav = document.getElementById('navigation');
    window.onscroll = function() {
      var offset = window.pageYOffset;
      var hasOverlay = nav.classList.contains('overlay');
      var threshold = window.innerHeight - 100;
      if (offset > threshold && !hasOverlay) {
        nav.classList.add('overlay');
      } else if (offset <= threshold && hasOverlay) {
        nav.classList.remove('overlay');
      }
    };
  </script>

  <header style="background-image: url({{ site.baseurl }}/assets/{{ page.background }})"></header>

  <section id="content">{{ content }}</section>
</body>

</html>
